.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  padding: 0 3%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);
}
.header-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  cursor: pointer;
}

/* nav */
.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-70%);
  height: 100%;
  margin-left: 60px;
}
.main-menu {
  display: flex;
  align-items: center;
  gap: clamp(18px, 5vw, 50px);
  height: 100%;
  font-size: var(--web--menu);
}
.main-menu li {
  white-space: nowrap;
}
.main-menu a {
  color: var(--main-text);
}
.main-menu a:hover {
  color: var(--menu--hover);
}
.main-menu li:nth-child(4) {
  font-weight: 700;
}

/* util */
.util {
  display: flex;
  align-items: center;
  gap: clamp(20px, 5vw, 30px);
  height: 100%;
  margin-left: auto;
}
.util span,
.util a {
  font-size: var(--web--menu);
}
.util .util-box {
  white-space: nowrap;
}
.util i {
  color: var(--sub-text);
}
.util-box a {
  color: var(--main-text);
}
.util-box a:hover,
.util i:hover {
  color: rgb(112, 119, 124);
}
.util-box-3 {
  width: 124px;
  height: 50px;
  border: 0;
  border-radius: 6px;
  background-color: var(--menu--subcribe-btn);
}
.util-box-3 a {
  text-align: center;
  line-height: 2.8;
  color: var(--background-color);
}
.util-box-3 a:hover {
  background-color: var(--point);
  border-radius: 6px;
}

/* 모바일 메뉴 */
.mbt {
  display: none;
}
