/* 브랜드 스토리 전체 영역 */
.story {
  padding: 7rem 3rem;
  background-color: rgb(61, 61, 61);
}

/* 콘텐츠 제목 */
.story .section-title {
  color: var(--background-color);
}

/* 브랜드 스토리 카드 전체 영역 */
.story-wrap {
  margin-top: 4rem;
  display: flex;
  gap: 20px;
  width: 100%;
}
.story-1,
.story-2,
.story-3 {
  position: relative;
  min-width: 0;
  transition: flex 0.5s ease;
  overflow: hidden;
}

/* hover한 카드만 옆으로 확장 */
.story-wrap:hover .story-1,
.story-wrap:hover .story-2,
.story-wrap:hover .story-3 {
  flex: 0.8;
}

.story-wrap .story-1:hover,
.story-wrap .story-2:hover,
.story-wrap .story-3:hover {
  flex: 1.8;
}

.story-img {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}
.story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.story-des {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  color: var(--background-color);
  transition: opacity 0.3s ease;
}
.story-des p {
  font-size: 25px;
}

.story-des span {
  margin-left: 10px;
  color: rgba(242, 242, 228, 0.6);
}

/* 호버 내용 */
.story-hover {
  position: absolute;
  inset: 0;
  padding: 2rem;
  color: var(--background-color);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.35)
  );
  display: flex;
  align-items: flex-end;

  z-index: 3;
  transition:
    opacity 0.35s ease,
    visibility 0.35s ease;
    pointer-events: none;
}

/* hover 시 */
.story-1:hover .story-hover,
.story-2:hover .story-hover,
.story-3:hover .story-hover {
  opacity: 1;
  visibility: visible;
}

hover-text {
  max-width: 420px;
  transform: translateY(20px);
  transition: transform 0.45s ease;
}

.story-1:hover .hover-text,
.story-2:hover .hover-text,
.story-3:hover .hover-text {
  transform: translateY(0);
}

.story-1:hover .story-des,
.story-2:hover .story-des,
.story-3:hover .story-des {
  opacity: 0;
}

/* hover 시 기존 제목 숨김 */

.hover-title {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.hover-desc {
  font-size: 0.95rem;
  line-height: 1.7;
}
